.leftLeg {
    transform: scaleX(-1);
    right: 55%;
    position: fixed;
    top: 22em;
}
.legImg {
    width: 7em;
}
.leftLeg:hover {
    -webkit-transform: rotateZ(80deg);
    transform: rotateZ(80deg);
  }