.App {
  text-align: center;
  background-attachment: fixed;
  background-image: url('assets/background.png');
  height: fit-content;
  padding: 2em;
}

.buttons {
  border: 1px solid #fff;
  background-color: darkgrey;
  width: 8em;
}
.btn {
  cursor: pointer;
  padding: .5em;
  color: #fff;
  background-color: rgb(122, 142, 233);
  margin: .5em auto;
  width: fit-content;
  border-radius: 5px;
}