.App {
  text-align: center;
  background-attachment: fixed;
  background-color: #a3bcd7;
  background-size: cover;
  height: 40em;
  padding: 2em;
}

.buttons {
  border: 1px solid #fff;
  background-color: darkgrey;
  width: 8em;
}
.btn {
  cursor: pointer;
  padding: .5em;
  color: #fff;
  background-color: rgb(122, 142, 233);
  margin: .5em auto;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 4px 4px #888888;
}
.btnActive {
  cursor: pointer;
  padding: .5em;
  color: rgb(122, 142, 233);
  background-color: #fff;
  margin: .5em auto;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
}
.btnOn {
  cursor: pointer;
  padding: .5em;
  color: #000;
  background-color: red;
  margin: .5em auto;
  width: fit-content;
  border-radius: 25px;
}
.btnOff {
  cursor: pointer;
  padding: .5em;
  color: #fff;
  background-color: #000;
  margin: .5em auto;
  width: fit-content;
  border-radius: 25px;
}

.textBox {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
  background-color: #fff;
  width: 10em;
  height: fit-content;
  position: fixed;
  right: 1em;
  top: 5em;
  border-radius: 35px;
  padding: .5em;
}

.dance {
    transform: skew(10deg);
    animation: dance .5s infinite;
    animation-direction: alternate;
  }
  
  @keyframes dance {
    0% {
      transform: skewY(5deg);
    }
    100% {
      transform: skewY(-5deg);
    }
  }

  .walkForward {
    transform: scale(1, 1);
    animation: walkForward 5s 1;
    animation-direction: forwards;
  }
  
  @keyframes walkForward {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(2, 2);
    }
  }

  .walkBackward {
    transform: scale(1, 1);
    animation: walkBackward 5s 1;
    animation-direction: forwards;
  }
  
  @keyframes walkBackward {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(.1, .1);
    }
  }

@media only screen and (max-width: 870px) {
  .textBox {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    background-color: #fff;
    width: 80%;
    height: fit-content;
    position: fixed;
    right: 1em;
    top: 60%;
    border-radius: 35px;
    padding: .5em;
    z-index: 99000000000 !important;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    background-image: none;
  }
  .robot {
    transform: scale(.8, .8) translate(-12em, 9em);
  }
  .dance {
    transform: skew(10deg) scale(.8, .8) translate(-12em, 9em);
  }
  @keyframes dance {
    0% {
      transform: skewY(5deg) scale(.8, .8) translate(-12em, 9em);
    }
    100% {
      transform: skewY(-5deg) scale(.8, .8) translate(-12em, 9em);
    }
  }

  .walkForward {
    transform: scale(2, 2) translate(-12em, 9em);
  }
  
  @keyframes walkForward {
    0% {
      transform: scale(1, 1) translate(-12em, 9em);
    }
    100% {
      transform: scale(2, 2) translate(-12em, 9em);
    }
  }

  .walkBackward {
    transform: scale(.1, .1) translate(-12em, 9em);
  }
  
  @keyframes walkBackward {
    0% {
      transform: scale(1, 1) translate(-12em, 9em);
    }
    100% {
      transform: scale(.1, .1) translate(-12em, 9em);
    }
  }
  .textBox {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    background-color: #fff;
    width: 80%;
    height: fit-content;
    position: fixed;
    right: 1em;
    top: 60%;
    border-radius: 35px;
    padding: .5em;
  }
}